body {
  background-color: #f9f9f9;
  font-family: "Roboto", Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 900px;
  text-align: justify;
}

h1 {
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 1rem;
}

.listLibros {
  background-color: #f0f8ff;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listLibros ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.listLibros li {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.listLibros li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.listLibros h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.listLibros p {
  font-size: 1rem;
  color: #666;
  margin: 0.2rem 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.buscador {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label_leidos{
  color: #333;
  width: 10%;
}

.botones_libro {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
}

.btn_eliminar {
  background-color: #ff0000;
}
.btn_eliminar:hover {
  background-color: #c30000;
}

.input_busqueda {
  background: transparent;
  border: 0;
  padding: 1rem;
  border-bottom: #0056b3 2px solid;
  margin-bottom: 1rem;
  width: 80%;
}
.input_busqueda:focus {
  outline: none;
  border-bottom: #007bff 2px solid;
}

.form_agregar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form_agregar input {
  background: transparent;
  border: 0;
  padding: 0.4rem;
  border-bottom: #0056b3 2px solid;
}

.form_agregar input:focus {
  outline: none;
  border-bottom: #007bff 2px solid;
}

@media (max-width: 768px) {
  main {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  .listLibros h2 {
    font-size: 1.25rem;
  }

  .listLibros p {
    font-size: 0.9rem;
  }
}
